{% extends 'index.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %} 

{% block body %}
<div class="card container my-3 ml-5 " style="width: 18rem;">
    <img src="static/tk.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Author</h5>
      <h3>Tushar Joshi</h3>
      <p class="card-text">Build a icoder blog post</p>
      {% comment %} ?<a href="static/tk.html" class="btn btn-primary">Go somewhere</a> {% endcomment %}
    </div>
  </div>

{% endblock %}